
header, footer {
    height:160px;
    background-color: rgb(109, 175, 230);
    font-family: 'Oswald', sans-serif;
    color: rgb(52, 59, 172);
    width: 100%;
    display: flex;
    justify-content: space-around;
}  
#header-img {
    height:200px;
    float: left;
    margin-top: -1em;
  }

nav ul{
    float: right;
    margin-right: 2em;
    padding: 2em;
  }
nav li{
    display: inline;
    padding: 1em;
    display: inline-block;
  }
footer {
  margin-top: 400px;
  padding:20px;
  text-align: center;
}
/*hyperlink styling, hover background*/
a {
    text-decoration: none;
    color: rgb(52, 59, 172);
  }
  a:hover {
    background: rgb(255, 255, 0);
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 1em;
      margin-top: 20px;
      line-height: 40px;
    }
    nav ul {
      font-size: 0.8em;
      padding: 0em;
    }
    #header-img {
      height: 100px;
    }